<ion-view title="Homescreen" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="height: 150px;"></div>
    <h1 id="homescreen-heading2" style="color:#879EFA;font-weight:400;text-align:center;">SmartBell</h1>
    <div id="homescreen-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#879EFA;font-size:20px;">View your workouts!</p>
    </div>
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <a ui-sref="login" id="homescreen-button1" style="font-weight:300;color:#879EFA;font-size:25px;border-radius:8px 8px 8px 8px;" class="button button-calm  button-block">Login</a>
  </ion-content>
</ion-view>