<ion-view title="Workouts" hide-nav-bar="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="workouts-container5" class="header">
      <h1 id="workouts-heading6" style="color:#879EFA;font-weight:300;text-align:center;">SmartBell</h1>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="workouts-list3">
      <ion-item ng-repeat="workout in workouts" class="item-icon-right" id="workouts-list-item10">{{workout.workout}}
        <i class="icon ion-chevron-down"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>